input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}



#search_icon{

font-size: 0.9rem !important;

}

body > .robo{
font-family: 'Roboto', sans-serif !important;


}


body{
font-family: 'Roboto', sans-serif !important;
background-color: #14213d;
padding-top: 10px;

}


#top-nav{

padding-right: 10px;
padding-left: 10px;


}



.top-nav-link > a{


font-size: 1.4rem;

}



.top-nav-link{
padding: 5px !important;

}


h2{
font-size: 2rem;
color: #ffffff;

}


.grid:before{
content:"<i class="fa fa-chevron-left" aria-hidden="true"></i>"


}


.grid:after{
content:"<i class="fa fa-chevron-left" aria-hidden="true"></i>"


}



.icon-arrow{

font-size:4rem;
color:#fca311

}


.icon-arrow > i{
  

position: relative;
  top: 35%;
  transform: translateY(-50%);
text-align: center;
}



.sidenav {
    height: 100%; /* 100% Full-height */

    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #050b2d; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    margin: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: 25px;
    color:  #ffffff;
    display: block;
    transition: 0.3s
}

.sidenav a:hover {
background-color: #fca311;
}

.sidenav p {
    text-decoration: none;
    font-size: 25px;
    color:  #ffffff;
    cursor: pointer;
}
.sidenav img {
  padding: 3px 3px 3px 3px;
    float:left;
}












@media screen and (min-width: 1060px) {
  



.first-block::after{


content: "<";
font-size: 5em;
position: relative;
left:-18px;
top:-175px;
color:#fca311;
margin:-50px;
}



.last-block::after{
content:">";
font-size: 5em;

color:#fca311;
position: relative;
left:300px;
top:-175px;

margin:-50px;
}



.first-block{
height:227px;
}

.last-block{

height:227px;

}



}




@media screen and (max-width: 699px){
  #logo{


display:none;

  }
}







.overlay-wrapper{

position:fixed;
display:block;
width: 0;
height:100%;
background-color: rgb(0,0,0); /* Black fallback color */
background-color: rgba(0,0,0, 0.95); /* Black w/opacity */
z-index:15;
left: 0;
top: 0;
overflow-x: hidden;
transition: 0.5s;

}



.overlay-content{


position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px;
     color: #fca311;
     padding-right: 30%;
     padding-left: 30%;
  
}



.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color:#fca311;
}

.tags-menu .closebtn {
    font-size: 50px;
    display: block;
    height: 10px;

}
.tags-menu .column{
  height: 150px;
  width: 30%;
  margin-left: 3.333%;
  margin-bottom: 10px;
  background-size: cover;
}
.tags-menu .column .tag-image-text{
  margin-top: 60px;
  color: white;
}
.tags-menu h2 {
  color:#fca311;
  font-size: 3rem;
}
.tags-menu button{
  width: 150px;
  height: 70px;
}
.tags-menu button p{
  font-size: 1.5rem;
  color: white;
}


.overlay .minbtn {
    position: absolute;
    top: 40px;
    right: 85px;
    font-size: 60px;
    color:#fca311;
}


.tag-selected{
  border-style: solid;
  border-size: 5px;
  border-color: #fca311;
}

.white{

color:#FFF;

}

.account-details{

margin-top: 40px;
text-align: left;


}
.account-image-details p{
  margin-bottom: 0;
  margin-top:2px;
  margin-left:5px;
}


.tag{
  display: inline-block;
    background: #f5f5f5;
    padding: 1px 5px;
    border-radius: 3px;
    margin: 0 4px 4px 0;
    
  
    color: #000;
    font-size: 14px;
    font-size: 0.875rem;


}
.tag-reputation{
  background: #fca311;
}
.tag .fa-times-circle{
  cursor: pointer;
}


.vz-wrapper {
  position: relative;
  height: 250px;
  width: 100%;
  background: transparent;
  cursor: pointer;

    box-shadow: none !important;
}


.vz-wrapper.-player {
top: 70px;
width:100%;
}

.vz-wrapper.-player > audio{

width:100%;
}



.vz-wrapper.-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: initial;
  width: initial;
  background: transparent;
  box-shadow: none;

}

@media screen and (min-width: 420px) {
.vz-wrapper { box-shadow: inset 0 0 200px 60px #000; }
}


.owl-item > .column{

    margin:5px !important;

padding:0px !important;
}





.owl-item {

   
       padding:10px !important;


}




.owl-item .center{

    margin:5px !important;
       padding:0px !important;


}





.owl-item > .column {

    background-color: black;


}

.owl-item > .column > img{

  margin:0px;


}





.owl-item > .column {
    position: relative;
 
}
.owl-item > .column .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 font-size: 1.2em;
 padding: 15px;
    color: #FFF;


background: rgba(0, 0, 0, .5);

  -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

  -webkit-transition: padding 300ms linear;
    -moz-transition: padding 300ms linear;
    -o-transition: padding 300ms linear;
    -ms-transition: padding 300ms linear;
    transition: padding 300ms linear;



}










.owl-item > .column:hover .after {
    display: block;
    background: rgba(0, 0, 0, .8);
        padding-top: 25px;
        padding-bottom: 25px;



 
}

.owl-item > .column .after > div {
    opacity: 0;
    transition: 1s;
    text-align: center;
    width:80%;
    margin-right: auto;
    margin-left: auto;
  
}

.owl-item > .column:hover .after > div {
    opacity: 1;
  
}








.row {
    max-width: 75.5rem;
    margin-left: auto;
    margin-right: auto;
}




.main_feature > div  > img{
width:100%;
height:200px;


    }



    .main_feature{

color:#FFF;
        font-size: 1.2em;


    }




      .main_feature > div > div > h3{

color:#FFF;
        font-size: 1.6em;


    }

        .main_feature > div > div >p{

color:#FFF;
        font-size: 1.2em;


    }





.footer{
color: #14213D;
text-align: center;

padding-top: 40px;
padding-bottom: 40px;

}



.footer-item{

padding:20px;

background-color:#FCA311;
 height:280px;


border-radius: 5px;

}


.footer-item > span{

margin-bottom: 15px;
margin-top: 15px;

}



.copyright{

color: #FFF;
text-align: center;

margin-bottom: 15px;
}


.top-nav-link > a{

margin-right:15px;
margin-left:15px;

}

.top-nav-link > a:hover{

text-indent: 2;
text-decoration: underline;
margin-bottom: 10px

}


.button{

color:#14213d;
font-weight: bold;
}

.button.secondary{

color: #fca311;

}

.edit-button{
  background-color: rgba(0,0,0, 0.95);
  padding: 0 0 0 0;
  margin: 0;
  color: white;
}

.tags-menu{
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 60%;
  padding: 16px;
  border: 16px solid #fca311;
  background-color: rgba(0,0,0, 0.95);
  z-index: 1002;
  overflow: auto;
}

.overlay-wrapper-tags{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.Sidenav{

padding: 10px;

}

.Sidenav > a{

padding: 10px;

}


.account{

display:none;
z-index: 10;
}

#Sidenav-clear > div{
    height:10000px;


}


#Sidenav-clear{
     position: fixed;
    opacity: 0;
    float: none;
    z-index: 9;
}




.mini-player{




display:absolute;
position: fixed;
bottom:10px;
right:10px;
color:#FFF;
height:60px;
width:400px;
background-color: rgba(0,0,0, 0.95);
padding:10px;
font-size: 1.3em;
display:none;
z-index: 9;
}


.closebtnminiplayer{
 position: absolute;
    top: 0px;
    right: 15px;
    font-size: 40px;


}


.openbtnminiplayer{

 position: absolute;
    top: 10px;
    right: 45px;
    font-size: 25px;

}


.btn{


padding: 0px 15px 0px 15px;

}


.owl-item > .column > img{


height:220px;
width:220px;


}

.fa-tags {
  margin-right: 5px;
}